{% extends "base.html" %}
{% load static %}

{% block title %}
    State Spaces
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static "website/css/landing.css" %}" type="text/css">
    <script src="{% static "website/js/filter.js" %}" defer></script>
    <script src="{% static "website/js/nav.js" %}" defer></script>
{% endblock head %}

{% block content %}
    <!-- logged out -->
    <!--<nav>-->
    <!--    <div class="nav__left">-->
    <!--        <a class="nav__title" href="#">StateSpaces</a>-->
    <!--    </div>-->
    <!--    <div class="nav__right">-->
    <!--        <a class="nav__btn" href="#">Login</a>-->
    <!--    </div>-->
    <!--</nav>-->

    <!-- logged in -->
    <nav>
        <div class="nav__left">
            <a class="nav__title" href="#">StateSpaces</a>
        </div>
        <div class="nav__right">
            <a class="nav__btn" href="#">Sign Out</a>
            <p class="nav__user">Colleen Reyes</p>
        </div>
    </nav>

    <!-- logged out -->
    <!--<header>-->
    <!--    <div class="header__bg"></div>-->
    <!--    <h1 class="header__text">Work hard, worry less.</h1>-->
    <!--</header>-->

    <!-- logged in -->
    <header>
        <div class="header__bg"></div>
        <div class="header__content">
            <div class="header__greeting">
                <p class="header__welcome">Welcome,</p>
                <p class="header__name">Colleen Reyes</p>
            </div>
            <div class="header__information">
                <div class="header__information__container">
                    <p id="header__information__title">Customer Information</p>
                    <div class="header__information__block">
                        <div class="header__information__category">
                            <p>Full Name</p>
                        </div>
                        <div class="header__information__value">
                            <p>Reyes, Colleen L.</p>
                        </div>
                    </div>
                    <div class="header__information__block">
                        <div class="header__information__category">
                            <p>Birth Date</p>
                        </div>
                        <div class="header__information__value">
                            <p>July 17, 2002</p>
                        </div>
                    </div>
                    <div class="header__information__block">
                        <div class="header__information__category">
                            <p>Location</p>
                        </div>
                        <div class="header__information__value">
                            <p>Metro Manila</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="search-container">
        <section class="search">
            <div class="searchBar">
                <div class="searchBar__left">
                    <img src="../../../media/images/search-icon.svg" alt="">
                </div>
                <div class="searchBar__right">
                    <input type="search"
                           class="search-field"
                           name="search-field"
                           placeholder="Search for a venue..." />
                </div>
            </div>
            <div class="filter">
                <div class="filter__heading">
                    <p>Filters</p>
                    <img class="filter__img" src="../../../media/images/arrow-down.svg" alt="">
                </div>
                <div class="filter__tags" style="display: none;"> 
                    <div class="filter__tags__block">
                        <div class="filter__category">
                            <p>Building</p>
                        </div>
                        <div class="filter__btn">
                            <button>Revana Peak</button>
                            <button>Green Heights</button>
                            <button>Blue Eagle</button>
                        </div>
                    </div>
                    <div class="filter__tags__block">
                        <div class="filter__category">
                            <p>Type</p>
                        </div>
                        <div class="filter__btn">
                            <button>Meeting Room</button>
                            <button>Study Area</button>
                            <button>Office Space</button>
                            <button>Conference Hall</button>
                            <button>Workstation</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
