{% extends "base.html" %}
{% load static %}

{% block title %}
    Test
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static "website/css/landing.css" %}" type="text/css">
{% endblock head %}

{% block content %}
    <nav>
        <div class="nav__left">
            <a class="nav__title" href="#">StateSpaces</a>
            <a class="nav__link" href="#">Assignments</a> 
            <a class="nav__link" href="#">Reservations</a>
        </div>
        <div class="nav__right">
            <a class="nav__btn" href="#">Login</a>
        </div>
    </nav>
{% endblock content %}
