{% extends "base.html" %}
{% load static %}

{% block title %}
    State Spaces
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static "website/css/landing.css" %}" type="text/css">
    <script src="{% static "website/js/filter.js" %}" defer></script>
    <script src="{% static "website/js/nav.js" %}" defer></script>
{% endblock head %}

{% block content %}

    {% if user.is_authenticated %}
      <!-- logged in -->
      <nav>
          <div class="nav__left">
              <a class="nav__title" href="#">StateSpaces</a>
          </div>
          <div class="nav__right">
            <form class="nav__right" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="nav__btn">Log Out</button>
                <p class="nav__user">{{ customer.first_name }} {{ customer.last_name }}</p>
              </form>
          </div>
      </nav>
    {% else %}
      <!-- logged out -->
      <nav>
          <div class="nav__left">
              <a class="nav__title" href="#">StateSpaces</a>
          </div>
          <div class="nav__right">
            <a class="nav__btn" href="{% url 'login' %}">Login</a>
          </div>
      </nav>
    {% endif %}

    {% if user.is_authenticated %}
      <!-- logged in -->
      <header>
          <div class="header__bg"></div>
          <div class="header__content">
              <div class="header__greeting">
                  <p class="header__welcome">Welcome,</p>
                  <p class="header__name">{{ customer.first_name }} {{ customer.last_name }}</p>
              </div>
              <div class="header__information">
                  <div class="header__information__container">
                      <p id="header__information__title">Customer Information</p>
                      <div class="header__information__block">
                          <div class="header__information__category">
                              <p>Full Name</p>
                          </div>
                          <div class="header__information__value">
                            <p>{{ customer.last_name }}, {{ customer.first_name }} {{ customer.middle_initial }}</p>
                          </div>
                      </div>
                      <div class="header__information__block">
                          <div class="header__information__category">
                              <p>Birth Date</p>
                          </div>
                          <div class="header__information__value">
                            <p>{{ customer.birth_date }}</p>
                          </div>
                      </div>
                      <div class="header__information__block">
                          <div class="header__information__category">
                              <p>Location</p>
                          </div>
                          <div class="header__information__value">
                            <p>{{ customer.location }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
    {% else %}
      <!-- logged out -->
      <header>
          <div class="header__bg"></div>
          <h1 class="header__text">Work hard, worry less.</h1>
      </header>
    {% endif %}

    <form method="GET" class="search-container">
        <section class="search">
            <div class="searchBar">
                <div class="searchBar__left">
                    <img src="../../../media/images/search-icon.svg" alt="">
                </div>
                <div class="searchBar__right">
                    <input type="search"
                           class="search-field"
                           name="search"
                           placeholder="Search for a venue..." />
                </div>
            </div>
            <div class="filter">
                <div class="filter__heading">
                    <p>Filters</p>
                    <img class="filter__img" src="../../../media/images/arrow-down.svg" alt="">
                </div>
                <div class="filter__tags" style="display: none;"> 
                    <div class="filter__tags__block">
                        <div class="filter__category">
                            <p>Building</p>
                        </div>
                        <div class="filter__btns">
                            {% for building in venue_info.venue_buildings %}
                              <button class="filter__btn" name="building" value="{{ building.building_name }}">{{ building.building_name }}</button> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter__tags__block">
                        <div class="filter__category">
                            <p>Type</p>
                            <input type="hidden" id="venueType" name="type" value="" />
                        </div>
                        <div class="filter__btns">
                            {% for venue in venue_info.venue_types %}
                              <button class="filter__btn" name="type" value="{{ venue.venue_type }}">{{ venue.venue_type }}</button> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    
    {% if user.is_authenticated %}
      <!-- reservations already made by the user -->
      <div class="your-reservations">
          <h2>Your Reservations</h2>
          <div class="your-reservation-container">
            {% for reservation in customer_reservations %}
              <div class="user__reservations">
                  <img src="../../../../media/images/cropped-picture-reservations.png" alt="Cropped Venue Image"> 
                  <div class="user__reservation__information">
                      <div class="user__venue__information">
                        <p class="user__venue__name">{{ reservation.venue.venue_name }}</p>
                        <p><b>Type: </b>{{ reservation.venue.venue_type }}</p>
                          <p>
                            <b>Location: </b>
                            {{ reservation.venue.venue_floor_num }} {{ reservation.venue.building.building_name }},
                            {{ reservation.venue.building.street_num }}, {{ reservation.venue.building.district_num }},
                            {{ reservation.venue.building.city_name }} 
                          </p>
                          <p><b>Number of Participants: </b>{{ reservation.reservation_participant_number }}</p>
                          <p><b>From: </b>{{ reservation.reservation_timeframe_start }}</p>
                          <p><b>To: </b>{{ reservation.reservation_timeframe_end }}</p>
                          <p><b>Agent: </b>{{ reservation.venue.agent }}</p>
                      </div>
                      <div class="remove__btn">
                          <button>Remove Reservation</button>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
    {% endif %}
    
    <!-- all venues available for reservation -->
    <div class="available-reservations">
        <h2>Available Reservations</h2>
        <div class="available-reservation-container">
          {% for venue in venues %}
            <section class="reservation">
                <!-- Card containing venue info (title, arrow, image) -->
                <div class="venueInfo">
                    <div class="venueTitle__row">
                        <div class="venueTitle__left">
                          <p>{{ venue.venue_name }}</p>
                        </div>
                        <div class="venueTitle__right">
                            <img src="../../../media/images/arrow-right.svg" alt="Arrow Icon">
                        </div>
                    </div>
                    <div class="venue_img">
                        <img src="../../../../media/images/header-bg.png" alt="Venue Image">
                    </div>
                </div>    
                <!-- Venue tags section placed below the card -->
                <div class="venueTags">
                  <p class="venue__type">{{ venue.venue_type }}</p>
                  <p class="venue__building">{{ venue.building }}</p>
                </div>
            </section>
          {% endfor %}
        </div>
    </div>
{% endblock content %}

